.title {
	color: #0062CC;
	font-size: large;
}

.form-control:focus {
	box-shadow: none;
}

.fa-check-circle {
	color: rgb(34, 177, 76);
}

.fa-exclamation-circle {
	color: rgb(237, 28, 36);
	font-size: 10;
}

i[class~="fa-exclamation-circle"] {
	margin-left: 5px;
}

#div_checkedcode {
	margin-left: 1px;
	background: rgb(255, 100, 100);
	-webkit-user-select: none;
}

.span_checkedcode {
	letter-spacing: 0.5em;
	border: none;
	padding: 0;
	margin: 0;
	background: rgb(255, 100, 100);
	color: white;
	-webkit-user-select: none;
}
.div_img_title{
	margin: 20px;
}
a:hover{
	text-decoration:none;
}
