<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ptu.sharepicture.dao.MessageMapper">

	<select id="getMsgsByPId" resultType="cn.edu.ptu.sharepicture.entity.Message">
		SELECT pictureId,
		senderId,content,star,bgColor,messages.createTime createTime
		FROM messages INNER JOIN user ON senderId=userId WHERE
		pictureId=#{key} AND messages.isLock='N' ORDER BY messages.createTime
		DESC LIMIT #{start},#{pageSize}
	</select>

	<select id="getTotal" resultType="Integer">
		SELECT COUNT(1) FROM messages
		WHERE pictureId=#{key}
	</select>

	<insert id="insertMessage">
		INSERT INTO messages
		VALUES(#{messageId},#{pictureId},#{senderId},#{content},#{star},#{bgColor},NOW(),"N");
	</insert>

	<resultMap type="cn.edu.ptu.sharepicture.entity.User" id="msg_user">
		<id property="userId" javaType="String" column="userId" />
		<result property="userName" javaType="String" column="userName" />
		<result property="userImage" javaType="String" column="userImage" />
		<collection property="messages"
			ofType="cn.edu.ptu.sharepicture.entity.Message">
			<id property="messageId" javaType="String" column="messageId" />
			<result property="pictureId" javaType="String" column="pictureId" />
			<result property="senderId" javaType="String" column="senderId" />
			<result property="content" javaType="String" column="content" />
			<result property="star" javaType="Integer" column="star" />
			<result property="bgColor" javaType="String" column="bgColor" />
			<result property="createTime" javaType="String" column="createTime" />
			<result property="isLock" javaType="String" column="isLock" />
		</collection>
	</resultMap>
</mapper>