<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ptu.sharepicture.dao.MessageMapper">

	<select id="getMsgsByPId"
		resultType="cn.edu.ptu.sharepicture.entity.User">
		SELECT
		userName,userImage,content,star,bgColor,messages.createTime createTime
		FROM messages INNER JOIN user ON senderId=userId WHERE
		pictureId=#{key} AND messages.isLock='N' ORDER BY messages.createTime DESC
	</select>

	<select id="getTotal" resultType="Integer">
		SELECT COUNT(1) FROM messages
		WHERE pictureId=#{pictureId}
	</select>
</mapper>